*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rammetto One", sans-serif;
    
}
/* regole generali */

body{
    background-color: yellowgreen;
}

/* sezione header  */
header{

    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: blue;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
}



header img {
    width: 100px;
    height: auto;
}

header .icon {
    font-size: 30px;
    color: orange;
    cursor: pointer;
}

header .icon:hover{
    color: white;
    
}

.titolo{
    text-align: center;
    font-size: 40px;
    color: orange;
}

/* sezione main */
main{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
   
}

.contenitore-generale{

    display: flex;
    align-items: flex-start;
    border-radius: 30px;
    background-color: blue;
   
}

/* contenitore item lista spesa */
.item-container {
    padding: 10px;
    
    
}

/* item spesa  */
.itemspesa {
    list-style: none;
    margin-left: 10px;
    color:  #E71600;
}

.itemspesa:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}


/* regole img */

.image-container img {
    display: flex;
   
    
}